/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-12-2014, 08:49:16 PM
    Author     : victordiaz
*/
.contact-item-custom {
    font-size: 1em !important;
}
a {
    color: #1E824C;
    text-decoration: none;
}
.agit {
    color: #FFFFFF;
    text-decoration: none;
}