/* ---- reset ---- */

body {
  /*margin: 0;*/
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
  max-height: 100%;
}

canvas {
  display: block;
  /*vertical-align: bottom;*/
  position: fixed;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  /*background-color: #000;*/
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  top: 0;
}